{% extends "base.html.twig" %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    {{ dump(user) }}

    {{ form_start(form) }}
    <div id="app">
        <div v-if="page === 0">
            <h2>Wie ben je?</h2>
            <img src="" alt="">
            <table>
                <tr>
                    <th>Naam:</th>
                    <td>???</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>???</td>
                </tr>
                <tr>
                    <th>Rijksregisternummer:</th>
                    <td>???</td>
                </tr>
                <tr>
                    <th>IBAN:</th>
                    <td>???</td>
                </tr>
            </table>
            <div class="actions">
                <span class="btn btn-default" v-on:click="nextStep">Dit ben ik</span>
            </div>
        </div>
        <div v-else-if="page === 1">
            <h2>Waarvoor dien je KM in?</h2>
            <ul class="todo-list">
                <div>
                    <h3>activiteit</h3>
                    <groupstack-item
                            v-for="group in groupStack"
                            v-bind:group="group"
                            v-bind:key="group.id">
                    </groupstack-item>
                    <groupsavaliable-item
                            v-for="group in activeGroups"
                            v-bind:group="group"
                            v-bind:key="group.id">
                    </groupsavaliable-item>
                </div>
                <div>
                    <h3>datum</h3>
                    {{ form_row(form.date) }}
                </div>
                <div>
                    <h3>plaats</h3>
                    {{ form_row(form.to_) }}
                </div>
            </ul>
            <div class="actions">
                <span class="btn btn-default" v-on:click="prevStep">vorige</span>
                <span class="btn btn-default" v-on:click="nextStep">volgende</span>
            </div>
        </div>
        <div v-else-if="page === 2">
            <h2>vervoer?</h2>
            <h3>Waar ben je vertrokken?</h3>
            {{ form_row(form.from_) }}
            <h3>Welk vervoer heb je gebruikt?</h3>
            <div class="actions">
                <span class="btn btn-default" v-on:click="prevStep">vorige</span>
                <span class="btn btn-default" v-on:click="nextStep">volgende</span>
            </div>
        </div>
        <div v-else-if="page === 3">
            <h2>Bevestigen</h2>
            <div class="actions">
                <span class="btn btn-default" v-on:click="prevStep">vorige</span>
                <span class="btn btn-default" v-on:click="submit">bevestigen</span>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div id="js-notes-wrapper"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}




    <script src={{ asset('/js/vue/expensesAdd.js') }}></script>

{% endblock %}
