<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Moni's Kazou RMT{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}?v={{ random(999999) }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=1" />
    </head>
    <body>

        {% block header %}
            <div>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('security_logout') }}" class="btn btn-default">Logout</a>
                {% else %}
                    <a href="{{ path('security_login') }}" class="btn btn-default">Login</a>
                    <a href="{{ path('user_register') }}" class="btn btn-default">Register</a>
                {% endif %}
            </div>
        {% endblock %}

        <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <div class="footer">

            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}?v={{ random(999999) }}"></script>
        {% endblock %}
    </body>
</html>
